<!DOCTYPE html>
<html>
<head>
	<title>Country App</title>
    <script defer type="text/javascript" src="js/app.js"> </script>
	<link rel="stylesheet"  href="css/style.css">

</head>
<body>
    <h1>Seacrh for Country data</h1>
<form method="POST" action="">
    <input type="text" id="searchCountry" placeholder="Searchy by country code, ex : IN">
    <input type="submit" value="Search" id="search_btn">
</form>
<div id="showdata"></div>
</body>
</html>